<div class="lead">Backend page</div>

<div class="row">
  <div class="col-sm-4">
    <div class="fd-tile detail tile-lemon">
      <div class="content"><h1 class="text-left">Node.js</h1><p>New Visits</p></div>
      <div class="icon"><i class="fa fa-globe"></i></div>
      <a class="details" href="#">Select to continue <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="fd-tile detail tile-prusia">
      <div class="content"><h1 class="text-left">Python</h1><p>New Visits</p></div>
      <div class="icon"><i class="fa fa-globe"></i></div>
      <a class="details" href="#">Select to continue <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="fd-tile detail tile-red">
      <div class="content"><h1 class="text-left">Ruby</h1><p>New Visits</p></div>
      <div class="icon"><i class="fa fa-globe"></i></div>
      <a class="details" href="#">Select to continue <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>
</div>
