<div class="container">
  <br/>

  <h4>Contributing Guidelines</h4>

  <p>
    If you find a bug in the code examples or a mistake in documentation, I
    would
    really appreciate if you could <a
    href="http://github.com/sahat/jsrecipes/issues/new">submit an issue</a> on Github.
  </p>

  <p>
    You can request a new tutorial by <a href="mailto:sahat@me.com">sending me
    an email</a>
    or opening a new issue on GitHub. I will to add it based on my availability
    schedule.
  </p>

  <br/>

  <h4>Top Contributors</h4>
  <table class="table">
    <tr ng-repeat="user in contributors">
      <td class="col-xs-1"><img ng-src="{{ user.avatar_url }}"></td>
      <td><a href="{{ user.html_url }}">{{ user.login }}</a></td>
      <td><strong>{{ user.contributions }}</strong> commits</td>
    </tr>
  </table>
</div>
