<div class="container">
  <h3>Contributing Guidelines</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est,
    tincidunt placerat elit eu, feugiat rhoncus odio. Maecenas augue sem,
    eleifend
    et sapien sodales, semper mattis odio. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Ut vestibulum nisi tincidunt, elementum quam nec,
    dapibus eros. Quisque at augue sed dui fringilla tempus imperdiet eu nulla.
    Etiam euismod est augue, laoreet eleifend lorem consequat porta. Proin
    blandit
    ante volutpat augue adipiscing, id convallis sem vulputate. Nullam et congue
    sapien, nec euismod purus. Etiam suscipit eleifend libero, quis tempus lorem
    viverra nec. Suspendisse ultrices nisi eu erat tristique, sed interdum lorem
    rutrum. Nulla dapibus, eros vel iaculis rhoncus, quam risus elementum magna,
    ac tincidunt metus nunc ac lorem. Donec placerat tristique ipsum. Vestibulum
    hendrerit tristique nisl, eget pulvinar magna aliquam ut. Nam vulputate
    augue
    sem, eget feugiat mauris molestie at. Aliquam erat volutpat.
  </p>

  <h3>Top Contributors</h3>
  <table class="table">
    <tr>
      <td><img
        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=25">
      </td>
      <td>User 1</td>
      <td>54 commits</td>
    </tr>
    <tr>
      <td><img
        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=25">
      </td>
      <td>User 2</td>
      <td>49 commits</td>
    </tr>
    <tr>
      <td><img
        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=25">
      </td>
      <td>User 3</td>
      <td>23 commits</td>
    </tr>
  </table>
</div>