<div class="page-content inset">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">JS Recipes</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="lead"><i class="fa fa-code"></i> Backend</div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">Beginner</div>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a class="list-group-item">Jade</a>
        <a class="list-group-item">Form submission in Express</a>
        <a class="list-group-item">CORS</a>
        <a class="list-group-item">Websockets</a>
        <a class="list-group-item">Upload files</a>
        <a class="list-group-item">Node.js productivity</a>
        <a class="list-group-item">Creating MongoDB schema</a>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">Intermediate</div>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item">Gravatar support</div>
        <div class="list-group-item">Local Authentication</div>
        <div class="list-group-item">OAuth Authentication</div>
        <div class="list-group-item">CSRF protection</div>
        <div class="list-group-item">Gulp build tool</div>
        <div class="list-group-item">Send emails</div>
        <div class="list-group-item">Formatting filesize</div>
        <div class="list-group-item">Get user's location from IP address</div>
      </div>
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">Advanced</div>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item">Organizing callbacks with Async.js</div>
        <div class="list-group-item">Organizing callbacks with Bluebird promises</div>
      </div>
    </div>
  </div>


  <div class="lead"><i class="fa fa-magic"></i> Frontend</div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">Beginner</div>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li>Styling Bootstrap buttons</li>
        <li>Creating an HTML email template</li>
        <li>Accessing Youtube API with JSONP</li>
        <li>Animated progress bar (like YouTube)</li>
        <li>Creating a responsive grid of images</li>
        <li>Using Underscore templates</li>
        <li>Growl notifications</li>
        <li>Testing with Jasmine 2.0</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">Intermediate</div>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item">Offline support</div>
        <div class="list-group-item">Creating a star rating</div>
        <div class="list-group-item">Detect client's platform</div>
        <div class="list-group-item">Customizable select elements</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <p class="lead">This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>
    </div>
  </div>

</div>