<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Project name</h3>
</div>


<div class="row marketing">
  <div class="col-xs-6">
    <div class="well text-center">
      <h4>Backend</h4>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="well text-center">
      <h4>Frontend</h4>
    </div>
  </div>
</div>

<div class="footer">
  <p>&copy; Company 2014</p>
</div>