<div class="jumbotron">
  <h1>JS Recipes {{ title }}</h1>
  <p>Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.</p>
</div>

<div class="container">
  <div class="page-header">
    <h2 class="text-info"><span class="fa fa-hdd-o"></span> Backend</h2>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Beginner</h3>
    </div>
    <div class="list-group" ng-repeat="page in backend.beginner">
      <a href="#/backend/{{ page.slug }}" class="list-group-item">{{ page.title }}</a>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Intermediate</h3>
    </div>
    <div class="list-group" ng-repeat="page in backend.intermediate">
      <a href="#/backend/{{ page.slug }}" class="list-group-item">{{ page.title }}</a>
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Advanced</h3>
    </div>
    <div class="list-group" ng-repeat="page in backend.advanced">
      <a href="#/backend/{{ page.slug }}" class="list-group-item">{{ page.title }}</a>
    </div>
  </div>

  <div class="page-header">
    <h2 class="text-info"><i class="fa fa-html5"></i> Frontend</h2>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Beginner</h3>
    </div>
    <div class="list-group" ng-repeat="page in frontend.beginner">
      <a href="#/frontend/{{ page.slug }}" class="list-group-item">{{ page.title }}</a>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Intermediate</h3>
    </div>
    <div class="list-group" ng-repeat="page in frontend.intermediate">
      <a href="#/frontend/{{ page.slug }}" class="list-group-item">{{ page.title }}</a>
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Advanced</h3>
    </div>
    <div class="list-group" ng-repeat="page in frontend.advanced">
      <a href="#/frontend/{{ page.slug }}" class="list-group-item">{{ page.title }}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>
    </div>
  </div>
</div>


