$gray-darker: #222;
$gray-dark: #282828;
$gray: #555;
$gray-light: #888;
$gray-lighter: #ADAFAE;

$brand-primary: #2A9FD6;
$brand-success: #77B300;
$brand-info: #9933CC;
$brand-warning: #FF8800;
$brand-danger: #CC0000;

$body-bg: #F0F0F0;
$text-color: $gray-light;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 12px;
$link-color: $brand-primary;
$link-hover-color: $link-color;

@import 'lib/bootstrap/bootstrap';
@import 'lib/font-awesome/font-awesome';

/* Angular UI */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

// =============================

.block-flat,
.block-wizard {
  margin-bottom: 40px;
  padding: 20px 20px;
  background: #FFF;
  border-radius: 3px;
  position: relative;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  transition: padding 500ms;
  -moz-transition: padding 500ms;
  -webkit-transition: padding 500ms;
}
.block-flat.closed {
  padding-bottom: 9px;
}
.block .header,
.widget-block .header,
.block-flat .header {
  padding: 10px;
  background-color: #FEFEFE;
  border-bottom: 1px solid #dadada;
  transition: border 500ms;
  -moz-transitiontransition: border 500ms;
  -webkit-transition: border 500ms;
}
.block-flat.dark-box .header,
.block-flat.primary-box .header,
.block-flat.success-box .header,
.block-flat.info-box .header,
.block-flat.danger-box .header,
.block-flat.warning-box .header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.block-flat.closed .header {
  border-bottom: 1px solid transparent;
}
.block .header {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  padding: 10px;
}
.block-flat .header {
  background: transparent;
  padding: 3px 0;
}
.block-flat .header.no-border {
  border: 0;
}
.block-flat .content {
  padding: 15px 3px 0 3px;
}
.block-flat .content.full-width {
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}
.block-flat .content h4 {
  margin-top: 20px;
  font-size: 16px;
}
.block-flat.no-padding .content {
  padding: 0 !important;
}
.block .header h2,
.widget-block .header h2,
.block-flat .header h2 {
  margin: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 29px;
  line-height: 38px;
}
.block .header h3 {
  margin: 3px 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 200;
}
.widget-block .header h3,
.block-flat .header h3 {
  margin-top: 3px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 200;
}
.block-flat .actions,
.block .actions {
  float: right;
}
.block-flat .actions .refresh i,
.block .actions .refresh i {
  font-size: 12px;
}
.block .actions {
  padding-top: 5px;
}
.block-flat .actions a {
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.3);
}
.block-flat .actions a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.block.block-color .actions a {
  margin-left: 6px;
  font-size: 14px;
  color: #fff;
}
.block.block-color .actions a:hover i {
  color: rgba(255, 255, 255, 0.8);
}
.block-flat.dark-box .actions a {
  color: #fff;
}
.block-flat.dark-box .actions a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.dark-box {
  background-color: #383A41;
  color: #fff;
}
.primary-box {
  background-color: #7761a7;
  color: #fff;
}
.success-box {
  background-color: #19b698;
  color: #fff;
}
.info-box {
  background-color: #4aa3df;
  color: #fff;
}
.warning-box {
  background-color: #f16e3f;
  color: #fff;
}
.danger-box {
  background-color: #ea6153;
  color: #fff;
}
.block .header.dark {
  background-color: #383A41;
  color: #fff;
  border-bottom: 0;
}
.block .header h4 {
  font-weight: 400;
  font-size: 15px;
  margin: 6px 0;
}
.block.block-color {
  position: relative;
  border-radius: 0;
}
.block.block-color .header {
  border-radius: 0;
  border: 0;
  background: #23262b;
  color: #fff;
}
.block.block-color.primary .header {
  background: #7761a7;
  color: #fff;
}
.block.block-color.success .header {
  background: #19b698;
  color: #fff;
}
.block.block-color.info .header {
  background: #4aa3df;
  color: #fff;
}
.block.block-color.warning .header {
  background: #f16e3f;
  color: #fff;
}
.block.block-color.danger .header {
  background: #ea6153;
  color: #fff;
}
.block .loading,
.block-flat .loading {
  display: none;
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}
.block .loading i,
.block-flat .loading i {
  position: relative;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  font-size: 26px;
}


// Tiles
/*Tiles*/
.fd-tile {
  background-color: #fff;
  color: #555;
  margin-bottom: 15px;
}
.fd-tile.tile-green {
  background-color: #19b698;
  color: #fff;
}
.fd-tile.tile-lemon {
  background-color: #2cc36b;
  color: #fff;
}
.fd-tile.tile-red {
  background-color: #ea6153;
  color: #fff;
}
.fd-tile.tile-blue {
  background-color: #4aa3df;
  color: #fff;
}
.fd-tile.tile-orange {
  background-color: #f16e3f;
  color: #fff;
}
.fd-tile.tile-prusia {
  background-color: #3d566d;
  color: #fff;
}
.fd-tile.tile-concrete {
  background-color: #a3b1b2;
  color: #fff;
}
.fd-tile.tile-purple {
  background-color: #7761a7;
  color: #fff;
}
/*clean tiles*/
.fd-tile.clean .icon i {
  color: #e5e5e5;
}
.fd-tile.clean {
  background-color: #fff;
  color: #888;
}
.fd-tile.clean.tile-green .details {
  background-color: #19b698;
}
.fd-tile.clean.tile-lemon .details {
  background-color: #2cc36b;
}
.fd-tile.clean.tile-red .details {
  background-color: #ea6153;
}
.fd-tile.clean.tile-blue .details {
  background-color: #4aa3df;
}
.fd-tile.clean.tile-orange .details {
  background-color: #f16e3f;
}
.fd-tile.clean.tile-prusia .details {
  background-color: #3d566d;
}
.fd-tile.clean.tile-concrete .details {
  background-color: #a3b1b2;
}
.fd-tile.clean.tile-purple .details {
  background-color: #7761a7;
}
.fd-tile .header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fd-tile .header .ico {
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 11px 18px;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}
.fd-tile .header .title {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
}
.fd-tile .content {
  padding: 10px;
}
.fd-tile.header .content {
  padding: 10px 20px;
  background: transparent;
  padding-right: 10px;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.fd-tile.detail .icon {
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 80px;
}
.fd-tile.header .icon img {
  opacity: 0.8;
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
  top: 50px;
  width: 80px;
}
.fd-tile.header {
  position: relative;
  overflow: hidden;
}
.fd-tile.detail {
  position: relative;
  overflow: hidden;
}
.fd-tile.detail .content {
  background: transparent;
  padding: 10px 10px 13px;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.fd-tile.detail .icon {
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  width: 80px;
}
.fd-tile.detail .icon i {
  color: rgba(0, 0, 0, 0.05);
  font-size: 100px;
  line-height: 65px;
}
.fd-tile.detail .details {
  clear: both;
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}
.fd-tile.detail .details i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
.fd-tile .content p {
  margin-bottom: 0;
  font-weight: 4  00;
  font-size: 14px;
}
.fd-tile .content h1 {
  margin: 0 0 0;
  font-weight: 300;
  font-size: 40px;
}